.App {
    text-align: center;
    font-family: Arial;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    color: white;
}

.App-link {
    color: #61dafb;
}

.jumbotron {
    background: cadetblue;
    padding: 2em 2em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}